body{
    background-image:url("background.jpg");
    background-repeat: no-repeat;
}

.FlipCards{
    height: 500px;
    width: 400px;
    margin: 0 auto;
    margin-top: -30px;
}

.score {
    color:white;
    margin-top: 0px;
    font-size:25px;
    text-align: left;
    float: left;
    width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.card{
    height: 120px;
    margin-top: 5px;
    margin-left: 10px;
    width: 120px;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
.card:active{
    transform: scale(0.97);
    transition: transform 1s;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.card.flip {
    transform: rotateY(180deg);}
.card img{
    height: 120px;
    width: 120px;
}
.card:hover{
    opacity: 0.7;
}
#timer {
    color:white;
    font-size:25px;
    text-align: right;
    float: right;

    width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.name{
    height: 50px;
    width:400px;
    float: none;
    font-size: 30px;
    margin: 0 auto;
    color: red;
}

.container {
    margin-top:250px;
    margin-left: 150px;
    width:500px;
    height: 250px;
    padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  background: #ecf0f3;
}
input {
    background: #ecf0f3;
   
    padding: 20px;
    height: 20px;
    width: 90%;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }

.log {
    margin-top: 20px;
    background: red;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
    width: 450px;
    height: fit-content;
    text-align: center; 
    font-size: large;   
  }
