.group{
    text-align: center;
}
.all{
    margin-top: 70px;
}
.card{
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color:white;
    border: black solid;
    border-radius: 5%;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.card:hover{
    border: 1px solid blue ;
}
img{
    width: 120px;
    height: 120px;
}
